*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.conteiner{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 10px;


    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
 input{
    width: 100%;
 }