<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
</head>

<body>
    <ul>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
    </ul>
    <main class="conteiner Login">
        <form action="">
            <div class=" conteiner title">
                <h1>RestorApp</h1>
                <p>Login to your account</p>
            </div>
        <div class="conteiner">
            <label for="Post-name">Full name</label>
            <input id="Post-name" type="text" name="name" placeholder="e.g John Doe">
            <label for="Post-Email">Email Address</label>
            <input id="Post-Email" type="email" name="Email" placeholder="name@example.com" required>
            <label for="Post-Rol"></label>
            <select name="Role" id="Post-Rol">
                <option value="User" selected>User</option>
                <option value="Administrador">Administrador</option>
            </select>
        </div>
        <input type="submit" value="sign in">
        <p>Don't have an account ? <a>Sign up</a></p>
        </form>
    </main>
</body>

</html>